{% extends parent_template %}

########
# Labels
########
{% block labels %}
LABEL maintainer="{{ maintainer }}" name="{{ image_name }}" build-date="{{ build_date }}"
LABEL org.opencontainers.image.source="https://github.com/chameleoncloud/kolla-containers"
{% endblock %}

#########
# Fluentd
#########
{% block fluentd_footer %}
RUN /usr/sbin/td-agent-gem install fluent-plugin-grafana-loki
{% endblock %}

#########
# Blazar
#########

{% block blazar_manager_footer %}
ADD additions-archive /
RUN cp -R /additions/blazar-manager/* /etc/blazar/ \
  && chown -R blazar: /etc/blazar \
  && ln -s /etc/blazar/hooks/on_before_end.py /usr/local/bin/blazar_before_end_action_email
{% endblock %}
