{% extends parent_template %}

########
# Labels
########
{% block labels %}
LABEL maintainer="{{ maintainer }}" name="{{ image_name }}" build-date="{{ build_date }}"
LABEL org.opencontainers.image.source="https://github.com/chameleoncloud/kolla-containers"
{% endblock %}

#########
# Fluentd
#########
{% block fluentd_footer %}
RUN /usr/sbin/td-agent-gem install fluent-plugin-grafana-loki
{% endblock %}

#########
# Blazar
#########

{% block blazar_manager_footer %}
ADD additions-archive /
RUN cp -R /additions/extra/* /etc/blazar/ \
  && chown -R blazar: /etc/blazar \
  && ln -s /etc/blazar/blazar-manager/hooks/on_before_end.py /usr/local/bin/blazar_before_end_action_email
{% endblock %}

# TODO [jca 2018-01-24]:
# - remove blazarclient when we add blazarclient to the base packages
#   on kolla upstream. There is no reason not to have it there.
{% set openstack_base_pip_packages_append = [
  'python-blazarclient'
] %}

#########
# Doni
#########
{% block doni_base_header %}
# After converting from poetry to setuptools with pyproject.toml
# we need a newer version of pip to correctly get the package name
RUN pip install --upgrade pip
{% endblock %}

#########
# Heat
#########

#########
# Horizon
#########

# Add chameleoncloud theme via additions
# See "horizon-additions-theme-chameleoncloud" section in kolla-build.conf
{% block horizon_footer %}
ADD additions-archive /
RUN mkdir -p /etc/openstack-dashboard/themes/chameleoncloud \
  && cp -R /additions/theme-chameleoncloud/*/* /etc/openstack-dashboard/themes/chameleoncloud/ \
  && chown -R horizon: /etc/openstack-dashboard/themes

# Override with our fork, which includes support for device resources amongst other things
RUN pip --no-cache-dir install --upgrade \
  git+https://github.com/ChameleonCloud/python-blazarclient.git@chameleoncloud/xena#egg=python-blazarclient
{% endblock %}

##########
# Ironic
##########

##########
# Keystone
##########

##########
# Neutron
##########

{% block neutron_base_header %}
# version 1.0.0 doesn't work for python3, conflicts with xena upper-constraints
RUN sed -i 's|^etcd3gw===.*$||g' requirements/upper-constraints.txt
{% endblock %}

# See "neutron-server-additions-extra" section in kolla-build.conf
{% block neutron_server_footer %}
ADD additions-archive /
RUN cp -R /additions/extra/neutron-server/* /etc/neutron/ \
  && (cd /var/lib/kolla/venv/lib/python{{ distro_python_version }}/site-packages/netmiko \
      && git apply -p2 /etc/neutron/patches/netmiko/*.patch)
{% endblock %}

##########
# Nova
##########

##########
# Prometheus
##########


##########
# Tunelo
##########

######
# Zun
######

# NOTE(jason): Remove this past Victoria; kubernetes 12.x is needed for zun-compute-k8s
{% block zun_compute_k8s_footer %}
RUN pip --no-cache-dir install --upgrade kubernetes==12.0.0
{% endblock %}
