{% extends parent_template %}

########
# Labels
########
{% block labels %}
LABEL maintainer="{{ maintainer }}" name="{{ image_name }}" build-date="{{ build_date }}"
LABEL org.opencontainers.image.source="https://github.com/chameleoncloud/kolla-containers"
{% endblock %}

#########
# Fluentd
#########
{% block fluentd_footer %}
RUN /usr/sbin/td-agent-gem install fluent-plugin-grafana-loki
{% endblock %}

#########
# Blazar
#########

{% block blazar_manager_footer %}
ADD additions-archive /
RUN cp -R /additions/blazar-manager/* /etc/blazar/ \
  && chown -R blazar: /etc/blazar \
  && ln -s /etc/blazar/hooks/on_before_end.py /usr/local/bin/blazar_before_end_action_email
{% endblock %}

#########
# Horizon
#########

{% block horizon_footer %}
# [blazar-dashboard] Override with our fork of blazarclient, which includes support for device resources
RUN pip --no-cache-dir install \
  git+https://github.com/ChameleonCloud/python-blazarclient.git@chameleoncloud/2023.1#egg=python-blazarclient
{% endblock %}


##########
# Keystone
##########

{% set keystone_base_packages_remove = ['libapache2-mod-auth-openidc'] %}
{% set keystone_base_packages_append = [
  'https://github.com/OpenIDC/mod_auth_openidc/releases/download/v2.4.15.7/libapache2-mod-auth-openidc_2.4.15.7-1.jammy_amd64.deb',
  'libcjose0',
  'libhiredis0.14'
  ] %}

##########
# Neutron
##########

# See "neutron-server-additions-extra" section in kolla-build.conf
{% block neutron_server_footer %}
ADD additions-archive /
RUN cp -R /additions/neutron-server/* /etc/neutron/ \
  && (cd /var/lib/kolla/venv/lib/python{{ distro_python_version }}/site-packages/netmiko \
      && git apply -p2 /etc/neutron/patches/netmiko/*.patch)
{% endblock %}
