[DEFAULT]
maintainer = University of Chicago

[profiles]
base = ^base,chrony,cron,elasticsearch,fluentd,kibana,kolla-toolbox,haproxy,keepalived,letsencrypt,mariadb,memcached,openstack-base,^openvswitch,prometheus,rabbitmq,redis,tgtd
blazar = ^blazar-
cinder = ^cinder-
cyborg = ^cyborg-
doni = ^doni-
glance = ^glance-
gnocchi = ^gnocchi-
heat = ^heat-
horizon = ^horizon$
# Explicitly build entire chain, this build doesn't have a
# 'base' job that provides the base images for it.
horizon_kvm = ^base,^openstack-base,^horizon$
ironic = ^ironic(?!-neutron),dnsmasq,iscsi
keystone = ^keystone
neutron = ironic-neutron-agent,neutron-(base|dhcp-agent|l3-agent|metadata-agent|openvswitch-agent|server|wireguard-agent)$
nova = ^nova-
placement = ^placement
# For building just the edge services
edge = ^(openstack-)?base,^cyborg-(base|agent),etcd,kuryr,^neutron-(base|openvswitch),^openvswitch,^zun-(base|compute)

[openstack-base]
location = $tarballs_base/requirements/requirements-stable-{{ openstack_release }}.tar.gz

[blazar-base]
type = git
location = https://github.com/ChameleonCloud/blazar.git
reference = chameleoncloud/{{ openstack_release }}

[blazar-manager-additions-extra]
type = local
location = $locals_base/additions.tar

[cinder-base]
type = url
location = $tarballs_base/cinder/cinder-stable-{{ openstack_release }}.tar.gz

[cyborg-base]
type = git
location = https://github.com/ChameleonCloud/cyborg.git
reference = chameleoncloud/{{ openstack_release }}

[doni-base]
type = git
location = https://github.com/ChameleonCloud/doni.git
reference = main

[glance-base]
type = url
location = $tarballs_base/glance/glance-stable-{{ openstack_release }}.tar.gz

# NOTE(jason): Gnocchi uses 4.3 as that's the closest to Train; consider updating
# when we move past Train on the base.
[gnocchi-base]
type = git
reference = stable/4.3
location = https://github.com/gnocchixyz/gnocchi.git

[heat-base]
type = git
location = https://github.com/ChameleonCloud/heat.git
reference = chameleoncloud/{{ openstack_release }}

[horizon]
type = git
location = https://github.com/ChameleonCloud/horizon.git
reference = chameleoncloud/{{ openstack_release }}

[horizon-additions-theme-chameleoncloud]
type = git
location = https://github.com/ChameleonCloud/horizon-theme.git
reference = master

[horizon-plugin-blazar-dashboard]
type = git
location = https://github.com/ChameleonCloud/blazar-dashboard.git
reference = chameleoncloud/{{ openstack_release }}

[horizon-plugin-heat-dashboard]
type = git
location = https://github.com/ChameleonCloud/heat-dashboard.git
reference = chameleoncloud/{{ openstack_release }}

# TODO: remove when change I0db7a95c4a99fe4157b3623a14135eb7b5dd69d9
# has been published in version >3.5.4 of ironic-ui
[horizon-plugin-ironic-ui]
type = git
location = https://opendev.org/openstack/ironic-ui
reference = stable/{{ openstack_release }}

[ironic-base]
type = git
location = https://github.com/ChameleonCloud/ironic.git
reference = chameleoncloud/{{ openstack_release }}

[keystone-base]
type = git
location = https://github.com/ChameleonCloud/keystone.git
reference = chameleoncloud/{{ openstack_release }}

# NOTE(jason): pin kuryr to ussuri release; remove this when we are past Train on the base
[kuryr-libnetwork]
type = url
location = $tarballs_base/kuryr-libnetwork/kuryr-libnetwork-stable-ussuri.tar.gz

[neutron-base]
location = $tarballs_base/neutron/neutron-stable-{{ openstack_release }}.tar.gz

[neutron-base-plugin-networking-generic-switch]
type = git
location = https://github.com/ChameleonCloud/networking-generic-switch.git
reference = chameleoncloud/{{ openstack_release }}

[neutron-base-plugin-networking-wireguard]
type = git
location = https://github.com/ChameleonCloud/networking-wireguard.git
reference = chameleoncloud/{{ openstack_release }}

[neutron-server-additions-extra]
type = local
location = $locals_base/additions.tar

[nova-base]
type = git
location = https://github.com/ChameleonCloud/nova.git
reference = chameleoncloud/{{ openstack_release }}

[nova-base-plugin-blazar]
type = git
location = https://github.com/ChameleonCloud/blazar-nova.git
reference = chameleoncloud/{{ openstack_release }}

[placement-base]
location = $tarballs_base/placement/placement-stable-{{ openstack_release }}.tar.gz

[zun-base]
type = git
location = https://github.com/ChameleonCloud/zun.git
reference = chameleoncloud/{{ openstack_release }}
