#########
# Horizon
#########

# Add chameleoncloud theme via additions
# See "horizon-additions-themes-chameleoncloud" section in kolla-build.conf
{% block horizon_footer %}
ADD additions-archive /etc/openstack-dashboard/themes/chameleoncloud
RUN chown -R horizon: /etc/openstack-dashboard/themes
{% endblock %}
