#########
# Horizon
#########

# Add chameleoncloud theme via additions
# See "horizon-additions-theme-chameleoncloud" section in kolla-build.conf
{% block horizon_footer %}
ADD additions-archive /
RUN mkdir -p /etc/openstack-dashboard/themes/chameleoncloud \
  && cp -R /additions/theme-chameleoncloud/*/* /etc/openstack-dashboard/themes/chameleoncloud/ \
  && chown -R horizon: /etc/openstack-dashboard/themes

RUN pip --no-cache-dir install --upgrade \
  git+https://github.com/ChameleonCloud/python-blazarclient.git@chameleoncloud/stable/train#egg=python-blazarclient
{% endblock %}
