{
  "command": "/usr/sbin/httpd -DFOREGROUND",
  "config_files": [
    {
      "source": "{{ container_config_dir }}/horizon.conf",
      "dest": "/etc/httpd/conf.d/horizon.conf",
      "owner": "horizon",
      "perm": "0600"
    },
    {
      "source": "{{ container_config_dir }}/local_settings",
      "dest": "{{ horizon_conf_dir }}/local_settings",
      "owner": "horizon",
      "perm": "0600"
    },
    {
      "source": "{{ container_policy_dir }}/cinder_policy.json",
      "dest": "{{ horizon_conf_dir }}/cinder_policy.json",
      "owner": "horizon",
      "perm": "0600"
    },
    {
      "source": "{{ container_policy_dir }}/glance_policy.json",
      "dest": "{{ horizon_conf_dir }}/glance_policy.json",
      "owner": "horizon",
      "perm": "0600"
    },
    {
      "source": "{{ container_policy_dir }}/heat_policy.json",
      "dest": "{{ horizon_conf_dir }}/heat_policy.json",
      "owner": "horizon",
      "perm": "0600"
    },
    {
      "source": "{{ container_policy_dir }}/keystone_policy.json",
      "dest": "{{ horizon_conf_dir }}/keystone_policy.json",
      "owner": "horizon",
      "perm": "0600"
    },
    {
      "source": "{{ container_policy_dir }}/neutron_policy.json",
      "dest": "{{ horizon_conf_dir }}/neutron_policy.json",
      "owner": "horizon",
      "perm": "0600"
    },
    {
      "source": "{{ container_policy_dir }}/nova_policy.json",
      "dest": "{{ horizon_conf_dir }}/nova_policy.json",
      "owner": "horizon",
      "perm": "0600"
    }
  ]
}
