####################
# Horizon (for KVM)
####################

# Add chameleoncloud theme and patches via additions
# See "horizon-additions-" sections in kolla-build.conf
{% block horizon_footer %}
ADD additions-archive /

# Custom theme
RUN mkdir -p /etc/openstack-dashboard/themes/chameleoncloud \
  && cp -R /additions/theme-chameleoncloud/*/* /etc/openstack-dashboard/themes/chameleoncloud/ \
  && chown -R horizon: /etc/openstack-dashboard/themes
{% endblock %}
