#######
# Nova
#######

# Install patched version of python-ironicclient
{% block nova_compute_ironic_footer %}
RUN pip --no-cache-dir install --upgrade \
  git+https://github.com/ChameleonCloud/python-ironicclient.git@2.5.2#egg=python-ironicclient
{% endblock %}
