# TODO [jca 2018-01-24]:
# - remove blazarclient when we add blazarclient to the base packages
#   on kolla upstream. There is no reason not to have it there.
{% set openstack_base_pip_packages_append = [
  'python-blazarclient'
] %}
