#########
# Blazar
#########

# See "blazar-manager-additions-extra" section in kolla-build.conf
{% block blazar_manager_footer %}
ADD additions-archive /
RUN cp -R /additions/extra/* /etc/blazar/ \
  && chown -R blazar: /etc/blazar \
  && ln -s /etc/blazar/hooks/on_before_end.py /usr/local/bin/blazar_before_end_action_email
{% endblock %}
